# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Others
.log
.tlog
.pdb
.lib
.ilk
.exp
.VC.db
.suo
HAPI_APP/HAPI_Log.html
HAPI_APP.VC.VC.opendb
*.obj
*.exe
*.log
*.tlog
*.db
*.idb
*.pdb
*.exp
*.ilk
*.lib
HAPI_APP/Data/testFloor.png.xml
HAPI_APP/Data/archive with images.zip
HAPI_APP/Data/archive with images/Corners_And_Walls_Room_1.png
HAPI_APP/Data/archive with images/Room_Floor_1.png
HAPI_APP/Data/archive with images/Room_Floor_1_.png
HAPI_APP/x64/Release/HAPI_APP.res
x64/Release/HAPI_APP.iobj
x64/Release/HAPI_APP.ipdb
